<div class="row ms-2">
    <div class="col-12">
        Foto
    </div>
    
    
    <div class="col-7  fly rounded mt-2 me-2">
        <div class="row mt-2 mb-2">
            <div class="col text-center">
                <img src="../../assets/img/viajar.png" class="img-fluid">
            </div>
            <div class="col">
                <ul>
                    <li class="list-group-item">
                        <h2>Viaje</h2>
                    </li>
                    <li class="list-group-item">
                        <a class="text-celeste text-decoration-none">1.500€</a> de <a class="text-warning text-decoration-none">3.000€</a>
                    </li>
                    <li class="list-group-item">
                        restan 1.500€
                
                    </li>
                    <li class="list-group-item">
                        <h4>50%</h4>
                    </li>
                </ul>
                
                
                
                
            </div>
        </div>

    </div>
    <div class="col-4 fly rounded mt-2 me-2">
        <table class="table">
            <thead>
                Ingresos
            </thead>
            <tbody>
              <tr>
                <td>150€</td>
                <td>Martes, 26/05/22</td>
                <td>Eventual</td>
              </tr>
              <tr>
                <td>100 €</td>
                <td>Domingo, 01/05/22</td>
                <td>Fijo</td>
              </tr>
              <tr>
                <td>100 €</td>
                <td>Sabado, 01/04/22</td>
                <td>Fijo</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="pt-2 mt-2">
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Objetivo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Progreso</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
    </div>
</div>