<div class="row">
    <div class="col-12 mt-2 text-center">Realiza tu objetivos</div>
    <div class="col-12 col-md-2 border-end">
        <div class="row">
            <div class="col-12 menuproyectos pb-1 pt-1">
               <a href="" class="mb-4 mt-2 text-decoration-none link-secondary"><i class="bi bi-bicycle"></i> Nuevo</a>  
            </div>
            <div class="col-12 menuproyectos pb-1 pt-1">
                <a href="" class="mb-2 mt-2 text-decoration-none link-secondary"><i class="bi bi-bicycle"></i> asadsad</a>  
             </div>
             <div class="col-12 menuproyectos pb-1 pt-1">
                <a href="" class="mb-2 mt-2 text-decoration-none link-secondary"><i class="bi bi-bicycle"></i> asadsad</a>  
             </div>
             <div class="col-12 menuproyectos">
                <a href="" class="mb-2 mt-2 text-decoration-none link-secondary"><i class="bi bi-bicycle"></i> asadsad</a>  
             </div>
        </div>
    </div>

<div class="col-sm-10 border-start">
     <div class="row ">
        <div class="col-12">
            <app-planeabody></app-planeabody>
        </div>
       
    </div>
</div>
</div>