<div class="row ms-2">
    <div class="col-12">
        Foto
    </div>
    
    
    <div class="col-7  fly rounded mt-2 me-2">
        <div class="row mt-2 mb-2">
            <div class="col text-center">
                <img src="../../assets/img/viajar.png" class="img-fluid">
            </div>
            <div class="col">
                <ul>
                    <li class="list-group-item">
                        <h2>Viaje</h2>
                    </li>
                    <li class="list-group-item">
                        <a class="text-celeste text-decoration-none">1.500€</a> de <a class="text-warning text-decoration-none">3.000€</a>
                    </li>
                    <li class="list-group-item">
                        restan 1.500€
                
                    </li>
                    <li class="list-group-item">
                        <h4>50%</h4>
                    </li>
                </ul>
                
                
                
                
            </div>
        </div>

    </div>
    <div class="col-4 fly rounded mt-2 me-2">
        <table class="table">
            <thead>
                Ingresos
            </thead>
            <tbody>
              <tr>
                <td>150€</td>
                <td>Martes, 26/05/22</td>
                <td>Eventual</td>
              </tr>
              <tr>
                <td>100 €</td>
                <td>Domingo, 01/05/22</td>
                <td>Fijo</td>
              </tr>
              <tr>
                <td>100 €</td>
                <td>Sabado, 01/04/22</td>
                <td>Fijo</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="pt-2 mt-2 ">
      <div class="row ms-5">
        <div class="col-1">
          <a class="active link-nav-proyectos text-decoration-none" aria-current="page" href="#">Objetivo</a>
        </div>
        <div class="col-1">
          <a class="link-nav-proyectos text-decoration-none" href="#">Link</a>
        </div>
        <div class="col-1">
          <a class="link-nav-proyectos text-decoration-none" href="#">Link</a>
        </div>
        <div class="col-1">
          <a class="disabled link-nav-proyectos text-decoration-none">Disabled</a>
        </div>
      </div>
      
    </div>
    <div class="col-12  fly rounded mt-2 me-2">
      <div class="row mt-2 mb-2">
        <div class="col-md-1 d-flex align-items-center"><img src="../../assets/img/mueble.png" class="img-fluid"></div>
        <div class="col-10 ms-2">
          <div class="row">
            <div class="col-12 ">Canapé</div>
            <div class="col-4">Fecha objetivo:</div><div class="col-4">¿Cuánto tengo ahorrado?</div><div class="col-4">¿Cuánto dinero necesito?</div>
            <div class="col-4"><h4>14/14/2022</h4></div><div class="col-4"><h4>300 €</h4></div><div class="col-4"><h4>420 €</h4></div>
            <div class="col-4 link-nav-proyectos"><small>Falta 1 mes 3 días </small></div>
          </div>
         
        </div>
      </div>
      
  </div>
  <div class="col-12  fly rounded mt-2 me-2">
    <div class="row mt-2 mb-2">
      <div class="col-md-1 d-flex align-items-center"><img src="../../assets/img/carro.png" class="img-fluid"></div>
      <div class="col-10 ms-2">
        <div class="row">
          <div class="col-12 ">Coche</div>
          <div class="col-4">Fecha objetivo:</div><div class="col-4">¿Cuánto tengo ahorrado?</div><div class="col-4">¿Cuánto dinero necesito?</div>
          <div class="col-4"><h4>14/05/2025</h4></div><div class="col-4"><h4>1.000 €</h4></div><div class="col-4"><h4>19.000 €</h4></div>
          <div class="col-4 link-nav-proyectos"><small>Falta 20 meses 3 días </small></div>
        </div>
       
      </div>
    </div>
    
</div>
  
</div>