<div class="container">

  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#" class="link-warning text-decoration-none">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Proyectos</li>
      </ol>
    </nav>

</div>
<div class="container-fluid bg-pinki">

<div class="row text-center">
<div class="col-12 mt-3 text-white"><h2>Proyectos</h2></div>
<div class="col-12 mb-2"><small>Planea el destino de tus ahorros</small></div>
<div class="col-12 mt-3 d-flex justify-content-center">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item active bg-light rounded-top" role="presentation">
        <button class="nav-link  link-menu-ingresos link-secondary" id="planea-tab" data-bs-toggle="tab" data-bs-target="#planea-tab-pane" type="button" role="tab" aria-controls="planea-tab-pane" aria-selected="false">&nbsp;&nbsp; Planea &nbsp;&nbsp;</button>
      </li>
    </ul>


</div>
</div>
</div>
<div class="container tab-content" id="myTabContent">
<div class="tab-pane fade  show active" id="planea-tab-pane" role="tabpanel" aria-labelledby="planea-tab" tabindex="0">
<app-planea></app-planea>
</div>



</div>
