<div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#" class="link-warning text-decoration-none">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Ingresos</li>
            </ol>
          </nav>

</div>
<div class="container-fluid bg-celest">

<div class="row text-center">
    <div class="col-12 mt-3"><h2>Ingresos</h2></div>
    <div class="col-12 mb-2"><small>Información de ingresos</small></div>
    <div class="col-12 mt-3 d-flex justify-content-center">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item bg-light rounded-top" role="presentation">
              <button class="nav-link  link-menu-ingresos link-secondary" id="fijo-tab" data-bs-toggle="tab" data-bs-target="#fijo-tab-pane" type="button" role="tab" aria-controls="fijo-tab-pane" aria-selected="true">&nbsp;&nbsp; Fijos &nbsp;&nbsp;</button>
            </li>
            <li class="nav-item bg-light rounded-top" role="presentation">
              <button class="nav-link link-menu-ingresos link-secondary" id="eventual-tab" data-bs-toggle="tab" data-bs-target="#eventual-tab-pane" type="button" role="tab" aria-controls="eventual-tab-pane" aria-selected="true">&nbsp;&nbsp; Eventuales &nbsp;&nbsp;</button>
            </li>
            <li class="nav-item bg-light rounded-top " role="presentation">
              <button class="nav-link link-menu-ingresos link-secondary" id="futuros-tab" data-bs-toggle="tab" data-bs-target="#futuros-tab-pane" type="button" role="tab" aria-controls="futuros-tab-pane" aria-selected="false">&nbsp;&nbsp;Futuros&nbsp;&nbsp;</button>
            </li>
            <li class="nav-item active bg-light rounded-top" role="presentation">
                <button class="nav-link active link-menu-ingresos link-warning bg-orange" id="admi-tab" data-bs-toggle="tab" data-bs-target="#admi-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">&nbsp;&nbsp;Administrar&nbsp;&nbsp;</button>
              </li>
          </ul>


    </div>
</div>
</div>
<div class="container tab-content" id="myTabContent">
    <div class="tab-pane fade  " id="fijo-tab-pane" role="tabpanel" aria-labelledby="fijo-tab" tabindex="0">
        <app-ingresosbody></app-ingresosbody>
    </div>
    <div class="tab-pane fade" id="futuros-tab-pane" role="tabpanel" aria-labelledby="futuros-tab" tabindex="0"></div>
    <div class="tab-pane fade show active" id="admi-tab-pane" role="tabpanel" aria-labelledby="admi-tab" tabindex="0"><app-ingresosadmin></app-ingresosadmin></div>
  </div>
