<div class="container mt-2">



    <div class="row">
        <div class="col-12 text-center"> <h2>Ingresos</h2></div>

    </div>
    <div class="row text-center">

        <div class="col-4 border">
            <div class="row">
                <div class="col-12"><h3><i class="bi bi-clipboard2-data"></i> Balance</h3></div>
                <div class="col-12"><hr></div>
                <div class="col-12"><img src="../../../../assets/img/estadisticas.png" alt=""></div>
               



            </div>





        </div>
        <div class="col-4 border"><h3>Este mes</h3>
            <div class="row">
                <div class="col-12"><small>Ingreso máximo: 1300 € - Nómina</small></div>
        <div class="col-12 mt-2"><h3>1700 € </h3></div>
        


            </div>
        
        </div>
        

        <div class="col-4 border"><h3>Futuros</h3></div>
    </div>

</div>